<div ng-controller="diagram1Controller">
    
    <div class="svg-box">
        <svg version="1.1" width="688" height="300" style="visibility: visible;">
        
            <!-- inner orbits -->
            <g fill="transparent" stroke-opacity="0.2" stroke="black" stroke-width="1" stroke-linecap="round" stroke-dasharray="5,5">
                <circle cx="144" cy="140" r="40" />
                <circle cx="100" cy="260" r="40" />
                <circle cx="295" cy="105" r="95" />
                <circle cx="430" cy="260" r="100" />
                <circle cx="550" cy="180" r="40" />
                <circle cx="600" cy="80" r="40" />
            </g>
            
            <!-- outer orbits -->
            <g fill="transparent" stroke-opacity="0.2" stroke="black" stroke-width="1" stroke-linecap="round" stroke-dasharray="5,5">
                <circle cx="144" cy="140" r="60" />
                <circle cx="100" cy="260" r="60" />
                <circle cx="295" cy="105" r="115" />
                <circle cx="430" cy="260" r="120" />
                <circle cx="550" cy="180" r="60" />
                <circle cx="600" cy="80" r="60" />
            </g>
            
            <!-- obstacles -->
            <g stroke-opacity="1" stroke="black" stroke-width="1" stroke-linecap="round" fill="#fff" fill-opacity="1">
                <circle cx="144" cy="140" r="20" />
                <circle cx="100" cy="260" r="20" />
                <circle cx="295" cy="105" r="75" />
                <circle cx="430" cy="260" r="80" />
                <circle cx="550" cy="180" r="20" />
                <circle cx="600" cy="80" r="20" />
            </g>
            
            <!-- tracks -->
            <g stroke-opacity="1" stroke="black" stroke-width="1" stroke-linecap="round">
                <!--<line x1="{{stretch23.start.x}}" x2="{{stretch23.end.x}}" y1="{{stretch23.start.y}}"
                y2="{{stretch23.end.y}}"/>
                <line x1="{{stretch12.start.x}}" x2="{{stretch12.end.x}}" y1="{{stretch12.start.y}}"
                y2="{{stretch12.end.y}}" />-->
            </g>
        </svg>
    </div>
</div>
